body {
    margin:0;
    background: #FFEDF7;
    background-image: url("images/crabdance.gif"); /*Ok this is epic. */
}

header {
    background: #FFD3DC;
    padding: 7px 21px 0px 21px;
}

header h1 {
    margin: 0;
    display: inline;
    color: white;
    text-shadow: -1px 0 #FF969D, 0 1px #FF969D, 1px 0 #FF969D, 0 -1px #FF969D;
}

nav ul {
    margin: 0;
    display: inline;
    padding: 0px 0px 0px 21px;
}

nav ul li {
    background: #FF969D;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 7px 21px;
    border-radius: 5px;
    border-style: dotted;
    border-color: white;
    border-width: 2px;
}

nav ul li a {
    color: white;
}

.greeting {
    background: #FF969D;
    color: white;
    text-align: center;
    font-size: 30px;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    border-style: dotted;
    border-color: white;
    border-width: medium;
}

.greeting div {
    padding: 15px 30px 15px 30px;
}

.gifs {
    display: flex;
    flex-direction: row;
}

.gifs div {
    background: #FF969D;
    border-radius: 10px;
    width: 32%;
    height: 200px;
    margin: auto;
    border-style: dotted;
    border-color: white;
}

.gifs div img {
    height: 90%;
    width: 95%;
    padding: 10px;
    border-radius: 20px;
}

.about {
    background: #FF969D;
    color: white;
    border-radius: 10px;
    width: 31%;
    margin: 10px;
    border-style: dotted;
    border-color: white;
}

.about div {
    color: white;
    padding: 5px;
    margin-left: 20px;
    font-size: 20px;
}

.about div p a {
    color: white;
}

.projects {
    background: #FF969D;
    color: white;
    border-radius: 10px;
    width: 31%;
    margin: 10px;
    border-style: dotted;
    border-color: white;
}

.projects div {
    color: white;
    padding: 5px;
    margin-left: 20px;
    font-size: 20px;
}

.projects div ul a {
    color: white;
}

.other video {
    display: block;
    margin: 50px auto;
}

footer {
    color: white;
    clear: both;
}