body {
    margin:0;
    background: #FFF6FB;
}

.crab {
    background-image: url("images/crabdance.gif"); /*Ok this is epic. */
}

header a {
    text-decoration: none;
}

a:hover {
    color: black;
}

header {
    background: #FFD3DC;
    padding: 7px 21px 7px 21px;
}

header h1 {
    margin: 0;
    display: inline;
    color: white;
    text-shadow: -1px 0 #FF969D, 0 1px #FF969D, 1px 0 #FF969D, 0 -1px #FF969D;
}

nav ul {
    margin: 0;
    display: inline;
    padding: 0px 0px 0px 21px;
}

nav ul li {
    background: #FF969D;
    color: white;
    display: inline-block;
    list-style-type: none;
    padding: 7px 21px;
    border-radius: 5px;
    border-style: dotted;
    border-color: white;
    border-width: 2px;
}

nav ul li a {
    color: white;
}

/* BODY SECTION*/

section {
    margin-top: 50px;
    background-color: #FFE1E9;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    color: #FF969D;
    font-size: 20px;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    font-size: 25px;
    overflow-y: auto;
    padding-bottom: 10px;
}

section p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


section h1 {
    text-align: left;
    margin-left: 70px;
}

a {
    color: #008080;
}

a:hover {
    color: black;
}

.projects h1 {
    text-align: center;
    margin-left: 0px;
}

.projects ul {
    list-style-type: square;
    text-align: left;
    margin-left: 70px;
}

.projects ul li p {
    margin-left: 70px;
    width: 80%;
}

.greeting {
    background: #FF969D;
    color: white;
    text-align: center;
    font-size: 30px;
    width:60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 10px;
    border-style: dotted;
    border-color: white;
    border-width: medium;
}

.greeting div {
    padding: 15px 30px 15px 30px;
}

.gifs {
    display: flex;
    flex-direction: row;
}

.gifs figure {
    background: #FF969D;
    border-radius: 10px;
    width: 32%;
    height: 200px;
    margin: auto;
    border-style: dotted;
    border-color: white;
}

.gifs figure img {
    height: 90%;
    width: 95%;
    padding: 10px;
    border-radius: 20px;
}

.other video {
    display: block;
    margin: 50px auto;
}

/* MISC */

button {
    background-color: #FF969D;
    border-radius: 5px;
    border-color: #FF969D;
    color: white;
}

button:focus {
    outline: 0;
}

.hidden {
    display: none;
}

footer {
    color: white;
    clear: both;
}