body {
    margin:0;
    background: #FFF6FB;
    background-image: url("images/cherrybg.png");
    background-size: 150%;
}

.crab {
    background-image: url("images/crabdance.gif"); /*Ok this is epic. */
}

header a {
    text-decoration: none;
}

a:hover {
    color: black;
}

header {
    background: #FFD3DC;
    height: 7vh;
    align-items: center;
    padding: 0px;
    border-bottom: 0.3vh dotted white;
    position: sticky;
    top:0;
    opacity: .9;
    box-shadow: 0px 0px 20px #FFD1DC;
}

header nav {
    height: 100%;
    display: inline-flex;
    align-items: center;
}

header h1 {
    color: white;
    text-shadow: -0.1vw 0 #FF969D, 0 0.1vw #FF969D, 0.1vw 0 #FF969D, 0 -0.1vw #FF969D;
    font-size: 2.25vw;
    margin-left: 2.35vw;
    margin-right: 2.35vw;
}

nav ul {
    padding: 0px;
    display: inline-flex;
    align-items: center;
}

nav ul li {
    background: #FFA2A9;
    list-style-type: none;
    border-radius: 0.5vw;
    height: 4.25vh;
    width: 12vh;
    margin-right: 0.3vw;
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center;
    border-style: dotted;
    border-color: white;
    border-width: 0.175vw;
    padding: 0px;
}


nav ul li a {
    color: white;
    font-size: 1.25vw;
}

/* BODY SECTION*/

section {
    margin-top: 50px;
    background-color: #FFE1E9;
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    color: #FF969D;
    font-size: 20px;
    text-align: center;
    height: 100%;
    padding-top: 10px;
    font-size: 25px;
    overflow-y: auto;
    padding-bottom: 10px;
    background-image: url("images/bgstolfo.png");
    background-repeat: no-repeat;
    background-position: right;
}

section p {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}


section h1 {
    text-align: left;
    margin-left: 70px;
}

a {
    color: #008080;
}

a:hover {
    color: black;
}

.projects h1 {
    text-align: center;
    margin-left: 0px;
}

.projects ul {
    list-style-type: square;
    text-align: left;
    margin-left: 70px;
}

.projects ul li p {
    margin-left: 70px;
    width: 80%;
}

.greeting {
    background: #FF969D;
    color: white;
    text-align: center;
    font-size: 30px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13vh;
    margin-bottom: 13vh;
    border-radius: 1vw;
    border-style: dotted;
    border-color: white;
    border-width: medium;
}

.greeting div {
    padding: 15px 30px 15px 30px;
}

.gifs {
    display: flex;
    flex-direction: row;
}

.gifs figure {
    background: #FF969D;
    border-radius: 10px;
    width: 32%;
    height: 200px;
    margin: auto;
    border-style: dotted;
    border-color: white;
}

.gifs figure img {
    height: 90%;
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1vw;
    padding: 10px;
}

.other video {
    display: block;
    margin: 50px auto;
}

.other {
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.other div {
    width: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.other div button {
    background-color: #FFA2A9;
    color: white;
    margin: auto;
    width: 6vw;
    height: 4vh;
    font-size: 1.5vw;
    border-style: dotted;
    border-color: white;
    border-width: 0.175vw;
    border-radius: 0.5vw;
}

.other div button:hover {
    color: black;
    cursor: pointer;
}

.other .content {
    margin-top: 25px;
}

.other .content ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

.other .content li {
    padding: 0px;
    width: 29%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6vw;
    margin-bottom: 5%;
    margin-left: 3.3%;
}

.other .content li img {
    width: 92%;
    height: 92%;
    padding: 4% 4%;
    border-radius: 1.5vw;
}

.other .content #sounds {
    width: 92%;
}

.other .content #sounds li {
    width: 21%;
    height: 7%;
    border-radius: 1.5vh;
}

.other .content #sounds li button {
    width: 100%;
    height: 100%;
    padding: 4% 4%;
    border-radius: 1.5vh;
    border: none;
}

.other .content #sounds li:first-child {
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    display: inline-block;
    width: 82%;
    height: 0vh;
}

.other .content #sounds li:first-child button {
    width: 13%;
    height: 2.5vh;
    padding: 0px;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    font-size: 0.85vw;
}

/* MISC */

button {
    background-color: #FF969D;
    border-radius: 5px;
    border-color: #FF969D;
    color: white;
}

button:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.other .content .hidden {
    display: none;
}

footer {
    color: white;
    clear: both;
}

/* 1920x1080 RESOLUTION SUPPORT */

@media screen and (min-width: 1600px) {
    header {
        height: 6vh;
        border-bottom: 0.2vh dotted white;
    }

    header h1 {
        font-size: 1.75vw;
    }

    nav ul li {
        height: 1.65vw;
        width: 5.5vw;
        border-radius: 0.35vw;
        border-width: 0.12vw;
    }

    nav ul li a {
        font-size: 0.9vw;
    }

    .gifs figure {
        border-radius: 1vw;
        width: 500px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .other div button {
        border-radius: 0.4vw;
        border-width: 0.11vw;
        font-size: 1.2vw;
    }
}

/* MOBILE SUPPORT */

@media screen and (max-width: 1000px) {
    header {
        height: 5.5vh;
    }

    header h1 {
        font-size: 3.3vw;
    }

    nav ul li {
        height: 3.75vh;
        width: 8vh;
    }

    nav ul li a {
        font-size: 2.3vw;
    }

    section {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        overflow-y: auto;
    }

    .greeting {
        width:60%;
        margin-top: 50px;
        margin-bottom: 50px;
        border-radius: 10px;
    }

    body {
        background-size: 300%;
        background-position: top;
    }
    
    .other div button {
        width: 15vw;
        height: 3vh;
        font-size: 2.5vw;
    }
}